# PYTHON DATA ANALYSIS

## Outline
- Data Analysis Steps
- Full Data Analysis Case-study
    - BikeStores Analysis

# Full Data Analysis Case-study (BikeStores Analysis)

### 1] Libraries & Data Importing

##### Import libraries and read in the BikeStores csv file

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('BikeStores.csv')

### 2] Data Understanding (Asking Questions)

In [ ]:
#1- read data
#2- print head and tail
#3- info about data
#4- describe data
#5- Check missing values
#6- if missing values in any column ---> handle
#7- unique values and value count for each column
#8- shape of data

##### Check the content of the DataFrame

In [5]:
df

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
...,...,...,...,...,...,...,...,...,...,...,...,...
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [7]:
df.head()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland

In [9]:
df.tail()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
4717,1614,Dorthey Jackson,Houston,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,Houston,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4719,1615,Sarita Parks,Forney,TX,28/12/2018,1,899.99,Electra Tiger Shark 3i - 2018,Cruisers Bicycles,Electra,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,Forney,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,Forney,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

In [150]:
df['order_id'].nunique()

1615

In [103]:
df['order_id'].value_counts()

order_id
1       5
1168    5
1139    5
389     5
1142    5
       ..
1339    1
1338    1
1337    1
1335    1
273     1
Name: count, Length: 1615, dtype: int64

In [109]:
df['customers'].nunique()

1444

In [127]:
df['customers'].value_counts()

customers
Tameka Fisher      13
Emmitt Sanchez     12
Pamelia Newman     11
Debra Burks        11
Lyndsey Bean       11
                   ..
Karren Lamb         1
Nicki Fry           1
Kristel Bullock     1
Charlsie Carson     1
Son Warner          1
Name: count, Length: 1444, dtype: int64

In [111]:
df['city'].nunique()

195

In [129]:
df['city'].value_counts()

city
Scarsdale              61
Mount Vernon           60
San Angelo             53
Ballston Spa           52
Canandaigua            50
                       ..
Middle Village          3
Yuba City               3
Springfield Gardens     3
Tonawanda               2
Westbury                2
Name: count, Length: 195, dtype: int64

In [113]:
df['state'].nunique()

3

In [131]:
df['state'].value_counts()

state
NY    3195
CA    1006
TX     521
Name: count, dtype: int64

In [115]:
df['order_date'].nunique()

725

In [133]:
df['order_date'].value_counts()

order_date
6/4/2018      27
12/4/2018     25
20/3/2018     24
17/4/2018     24
1/10/2017     24
              ..
2/3/2017       1
8/2/2016       1
17/10/2016     1
24/10/2017     1
3/12/2016      1
Name: count, Length: 725, dtype: int64

In [117]:
df['product_name'].nunique()

278

In [135]:
df['product_name'].value_counts()

product_name
Electra Townie Original 21D - 2016                 193
Electra Cruiser 1 (24-Inch) - 2016                 193
Electra Townie Original 7D EQ - 2016               185
Electra Girl's Hawaii 1 (16-inch) - 2015/2016      180
Surly Ice Cream Truck Frameset - 2016              110
                                                  ...
Electra Tiger Shark 3i (20-inch) - Boys' - 2018      1
Trek Precaliber 24 21-speed Girl's - 2018            1
Electra Straight 8 1 (16-inch) - Boy's - 2018        1
Trek Precaliber 20 6-speed Girl's - 2018             1
Electra Superbolt 1 20" - 2018                       1
Name: count, Length: 278, dtype: int64

In [119]:
df['category_name'].nunique()

7

In [137]:
df['category_name'].value_counts()

category_name
Cruisers Bicycles      1378
Mountain Bikes         1183
Children Bicycles       782
Comfort Bicycles        537
Road Bikes              374
Cyclocross Bicycles     256
Electric Bikes          212
Name: count, dtype: int64

In [121]:
df['brand_name'].nunique()

9

In [139]:
df['brand_name'].value_counts()

brand_name
Electra         1729
Trek            1235
Surly            605
Sun Bicycles     485
Pure Cycles      258
Haro             220
Heller            97
Ritchey           77
Strider           16
Name: count, dtype: int64

In [123]:
df['store_name'].nunique()

3

In [141]:
df['store_name'].value_counts()

store_name
Baldwin Bikes       3195
Santa Cruz Bikes    1006
Rowlett Bikes        521
Name: count, dtype: int64

In [125]:
df['sales_rep'].nunique()

6

In [143]:
df['sales_rep'].value_counts()

sales_rep
Marcelene Boyer    1615
Venita Daniel      1580
Genna Serrano       544
Mireya Copeland     462
Kali Vargas         269
Layla Terrell       252
Name: count, dtype: int64

##### How many rows and columns are there?

In [25]:
# Rows, Columns
df.shape

(4722, 12)

##### Check the data types

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   city           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 442.8+ KB

In [33]:
df.dtypes

order_id           int64
customers         object
city              object
state             object
order_date        object
total_units        int64
revenue          float64
product_name      object
category_name     object
brand_name        object
store_name        object
sales_rep         object
dtype: object

In [27]:
# Statistical Summary
df.describe()

          order_id  total_units       revenue
count  4722.000000  4722.000000   4722.000000
mean    821.265354     1.498941   1816.812554
std     465.152168     0.500052   2228.160984
min       1.000000     1.000000     89.990000
25%     423.250000     1.000000    539.980000
50%     828.500000     1.000000    939.980000
75%    1226.000000     2.000000   1999.980000
max    1615.000000     2.000000  23999.980000

### 3] Data Wrangling (Cleaning & Manipulation)

##### Are there any missing / duplicated data?

In [35]:
df.isnull().sum()

order_id         0
customers        0
city             0
state            0
order_date       0
total_units      0
revenue          0
product_name     0
category_name    0
brand_name       0
store_name       0
sales_rep        0
dtype: int64

In [37]:
df.duplicated().sum()

0

#remove null
#Replace >> 
## Numerical>> Mean , Categorical >> Mode
data.fillna(....)
data.dropna()

##### Double-check for the columns names and update any of them if needed

In [212]:
df.columns

Index(['order_id', 'customers', 'city', 'state', 'order_date', 'total_units',
       'revenue', 'product_name', 'category_name', 'brand_name', 'store_name',
       'sales_rep'],
      dtype='object')

##### Can you convert the City column to UpperCases?

In [41]:
df['city'].str.upper()

0       PLEASANTON
1       PLEASANTON
2       PLEASANTON
3       PLEASANTON
4       PLEASANTON
           ...
4717       HOUSTON
4718       HOUSTON
4719        FORNEY
4720        FORNEY
4721        FORNEY
Name: city, Length: 4722, dtype: object

### 4] Data Analysis & Visualization (EDA & Statistical Analysis)
#### Exploratory Data Analysis

##### What is the average Revenue?

In [43]:
df.columns

Index(['order_id', 'customers', 'city', 'state', 'order_date', 'total_units',
       'revenue', 'product_name', 'category_name', 'brand_name', 'store_name',
       'sales_rep'],
      dtype='object')

In [45]:
df['revenue'].mean()

1816.812554002541

##### What were the highest and lowest Revenue?

In [47]:
#Heighest
df['revenue'].max()

23999.98

In [49]:
#Lowest
df['revenue'].min()

89.99

##### How many orders have 'Road Bikes'  as a category name ?

In [162]:
y=df.groupby(['category_name'])['order_id'].count() 
y

category_name
Children Bicycles       782
Comfort Bicycles        537
Cruisers Bicycles      1378
Cyclocross Bicycles     256
Electric Bikes          212
Mountain Bikes         1183
Road Bikes              374
Name: order_id, dtype: int64

In [219]:
x=y["Road Bikes"]
x

374

In [215]:
# Or
df.loc[df["category_name"] =="Road Bikes","order_id"].count()

374

##### Display the data which revenue greater than 10000

In [242]:
df[df.revenue >10000]

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
1798,645,Consuela Collier,North Tonawanda,NY,8/1/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
1844,660,Ashlee Pena,Whitestone,NY,18/1/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Venita Daniel
1888,672,Delmar Wise,Lockport,NY,26/1/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
1928,685,Ayanna Cherry,Smithtown,NY,31/1/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
1953,692,Kasha Todd,Campbell,CA,5/2/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Santa Cruz Bikes,Genna Serrano
2029,717,Tereasa Bird,Ronkonkoma,NY,15/2/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2083,736,Klara Stanley,Webster,NY,27/2/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2100,741,Thalia Dillard,San Angelo,TX,28/2/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
2140,755,Kimberely Bowen,Troy,NY,6/3/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2227,787,Collene Knox,Corpus Christi,TX,18/3/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Rowlett Bikes,Layla Terrell
2283,804,Letitia Franco,Saratoga Springs,NY,29/3/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2347,823,Gwendolyn Miller,Harlingen,TX,6/4/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
2533,887,Chantell Bridges,Buffalo,NY,13/5/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2549,892,Laure Pena,Wappingers Falls,NY,15/5/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2581,904,Lorraine Marks,San Carlos,CA,23/5/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
2653,930,Abram Copeland,Harlingen,TX,5/6/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Rowlett Bikes,Layla Terrell
2654,930,Abram Copeland,Harlingen,TX,5/6/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Rowlett Bikes,Layla Terrell
2663,934,Corrina Sawyer,Troy,NY,9/6/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2676,937,Melanie Hayes,Liverpool,NY,11/6/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2701,945,Loreta Johnston,Spring Valley,NY,14/6/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2705,946,Andreas Mayer,New Rochelle,NY,14/6/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2720,951,Tamela Harrell,Central Islip,NY,16/6/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Venita Daniel
2752,961,Lizzie Joyner,Coachella,CA,19/6/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
2784,973,Cindi Larson,Howard Beach,NY,24/6/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
2830,987,Jeanie Kirkland,Santa Clara,CA,2/7/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
2884,1003,Marlo Jefferson,Niagara Falls,NY,14/7/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2893,1006,Olimpia Mays,Oakland Gardens,NY,15/7/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
2944,1023,Vashti Rosario,Bronx,NY,23/7/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3046,1055,Cleopatra Tate,East Elmhurst,NY,12/8/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3167,1095,Wynona Douglas,Harlingen,TX,26/8/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Rowlett Bikes,Layla Terrell
3192,1105,Margret Barnett,Forney,TX,1/9/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
3215,1115,Penny Acevedo,Ballston Spa,NY,7/9/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3219,1117,Somer Jordan,Huntington Station,NY,8/9/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3221,1118,Adena Blake,Ballston Spa,NY,8/9/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3380,1170,Alejandro Haney,Wantagh,NY,5/10/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3525,1220,Bernardina Cooper,Whitestone,NY,31/10/2017,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3566,1234,Lizzette Stein,Orchard Park,NY,7/11/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3633,1255,Yan Trevino,Uniondale,NY,19/11/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3654,1262,Terra Pickett,Amsterdam,NY,23/11/2017,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3681,1271,Alina Mcleod,Patchogue,NY,27/11/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3699,1277,Danielle Bond,Patchogue,NY,1/12/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3712,1282,Aron Wiggins,Oceanside,NY,3/12/2017,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3758,1297,Shae Hickman,Floral Park,NY,14/12/2017,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3772,1302,Merideth Preston,Poughkeepsie,NY,16/12/2017,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
3897,1338,Hae Ramirez,Baldwinsville,NY,10/1/2018,2,12999.98,Trek Emonda SLR 8 - 2018,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
3905,1341,Todd Waters,Bay Shore,NY,12/1/2018,2,10999.98,Trek Domane SLR 6 Disc - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
3927,1347,Muriel Juarez,Palos Verdes Peninsula,CA,15/1/2018,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
3977,1364,Shena Carter,Howard Beach,NY,25/1/2018,2,23999.98,Trek Domane SLR 9 Disc - 2018,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
4059,1393,Tena Huber,Newburgh,NY,14/2/2018,2,10599.98,Trek Remedy 9.8 - 2017,Mountain Bikes,Trek,Baldwin Bikes,Venita Daniel
4262,1463,Dorothea Chang,Astoria,NY,23/3/2018,2,12999.98,Trek Silque SLR 8 Women's - 2017,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
4277,1468,Tameka Fisher,Redondo Beach,CA,27/3/2018,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4386,1505,Adelle Larsen,East Northport,NY,8/4/2018,2,10599.98,Trek Fuel EX 9.8 27.5 Plus - 2017,Mountain Bikes,Trek,Baldwin Bikes,Venita Daniel
4389,1506,Abby Gamble,Amityville,NY,8/4/2018,2,14999.98,Trek Domane SLR 8 Disc - 2018,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
4464,1529,Cleotilde Booth,Sugar Land,TX,12/4/2018,2,11999.98,Trek Silque SLR 7 Women's - 2017,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4495,1540,Hedwig Paul,Apple Valley,CA,16/4/2018,2,10999.98,Trek Domane SLR 6 Disc - 2018,Road Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4498,1541,Pamelia Newman,Monroe,NY,16/4/2018,2,23999.98,Trek Domane SLR 9 Disc - 2018,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
4583,1570,Fran Yang,Utica,NY,22/4/2018,1,11999.99,Trek Domane SLR 9 Disc - 2018,Road Bikes,Trek,Baldwin Bikes,Venita Daniel
4664,1593,Genoveva Baldwin,Port Washington,NY,27/4/2018,2,12999.98,Trek Emonda SLR 8 - 2018,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer

##### what is the total revenue for each Brand ?

In [88]:
df.groupby(['brand_name'])['revenue'].sum()

brand_name
Electra         1344143.79
Haro             207096.69
Heller           193798.71
Pure Cycles      166164.00
Ritchey           88498.82
Strider            4849.75
Sun Bicycles     381919.69
Surly           1063135.82
Trek            5129381.61
Name: revenue, dtype: float64

##### what is the total revenue for each Category Name ?

In [90]:
df.groupby(['category_name'])['revenue'].sum()

category_name
Children Bicycles       327888.21
Comfort Bicycles        438506.87
Cruisers Bicycles      1109151.04
Cyclocross Bicycles     799874.60
Electric Bikes         1020236.85
Mountain Bikes         3030775.71
Road Bikes             1852555.60
Name: revenue, dtype: float64

##### Total Quantity for each Brand Name

In [193]:
df.groupby(['brand_name'])['total_units'].sum()

brand_name
Electra         2612
Haro             331
Heller           138
Pure Cycles      376
Ritchey          118
Strider           25
Sun Bicycles     731
Surly            908
Trek            1839
Name: total_units, dtype: int64

#### Top 5 Customers by number of orders

In [223]:
df.groupby(['customers'])['order_id'].count().nlargest(5)

customers
Tameka Fisher     13
Emmitt Sanchez    12
Corene Wall       11
Debra Burks       11
Lyndsey Bean      11
Name: order_id, dtype: int64

#### Bottom 5 Customers by number of orders

In [221]:
df.groupby(['customers'])['order_id'].count().nsmallest(5)

customers
Alane Munoz         1
Alec Peck           1
Alejandro Norman    1
Aleta Stone         1
Alissa Craft        1
Name: order_id, dtype: int64

#### Top 2 Sales Representatives by number of orders

In [232]:
df.groupby(['sales_rep'])['order_id'].count().nlargest(2)

sales_rep
Marcelene Boyer    1615
Venita Daniel      1580
Name: order_id, dtype: int64

#### Top Store by number of orders

In [239]:
df.groupby(['store_name'])['order_id'].count().nlargest(1)

store_name
Baldwin Bikes    3195
Name: order_id, dtype: int64

#### Top 5 Cities by number of orders

In [252]:
df.groupby(['city'])['order_id'].count().nlargest(5)

city
Scarsdale       61
Mount Vernon    60
San Angelo      53
Ballston Spa    52
Canandaigua     50
Name: order_id, dtype: int64

#### Top 5 cities by total Revenue

In [254]:
df.groupby(['city'])['revenue'].sum().nlargest(5)

city
Mount Vernon     117010.21
Ballston Spa     110065.34
San Angelo       109729.26
Baldwinsville    105893.45
Howard Beach     104250.51
Name: revenue, dtype: float64

#### Bottom 5 cities by total Revenue

In [262]:
df.groupby(['city'])['revenue'].sum().nsmallest(5)

city
Tonawanda              1347.99
Westbury               1437.98
Springfield Gardens    1889.95
Far Rockaway           3249.94
Copperas Cove          3337.94
Name: revenue, dtype: float64

### Top Store by Total Revenue

In [277]:
df.groupby(['store_name'])['revenue'].sum().nlargest(1)

store_name
Baldwin Bikes    5826242.21
Name: revenue, dtype: float64

### Bottom Store by Total Revenue

In [268]:
df.groupby(['city'])['revenue'].sum().nsmallest(1)

city
Tonawanda    1347.99
Name: revenue, dtype: float64

# GOOD LUCK!